<app-my-dashboard>

</app-my-dashboard>

<!-- <mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card *ngFor="let pizza of pizzas">
      <mat-card-title>{{pizza.name}}</mat-card-title>
      <mat-card-subtitle>Prix : {{pizza.prix}} €</mat-card-subtitle>
      <mat-card-content>Entre deux plats de dev: un bon plat et bonne boisson s'imposent
      Qu'il s'agisse de manger sur le pouce ou de prendre le temps, la "Tablée du développeur" saura vous satisfaire
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

